.bold-text{
  font-weight: bold;
}

.thick-text{
  font-weight: 900;
}

.light-text{
  font-weight: lighter;
}

.large-text{
  font-size: large;
}

.small-text{
  font-size: small;
}

.smaller-text{
  font-size: smaller;
}

.larger-text{
  font-size: larger;
}

.x-large-text{
  font-size: x-large;
}

.xx-large-text{
  font-size: xx-large;
}

.primary-text{
  color: #166618;
}

.danger-text{
  color: #f21832;
}

.white-text{
  color: #FFFFFF;
}

.text-600 {
  font-weight: 600;
}

.text-500 {
  font-weight: 500;
}

.all-caps {
  text-transform: uppercase;
}

.receipt {  
  font-family: 'OCR-B' !important;
  letter-spacing: -2px;
}

