:root {
  --ion-color-primary: #3ea39b;
  --ion-color-primary-rgb: 62, 163, 155;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #368f89;
  --ion-color-primary-tint: #56b0aa;
  --ion-color-danger: #f21832;
}