// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "./app/common/styles/font-settings.scss";
@use "./app/common/styles/input-settings.scss";
@use "./app/common/styles/display-settings.scss";
@use "./app/common/styles/position-settings.scss";
@use "./app/common/styles/general-settings.scss";
@use "./app/common/styles/animation-collection.scss";
@use "./app/common/styles/background-settings.scss";
@use "./app/common/styles/button-settings.scss";

@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

@font-face {
  font-family: 'OCR-B';
  src: url('./assets/fonts/OCR-B.ttf');
}

@font-face {
  font-family: 'Verdana';
  src: url('./assets/fonts/verdana.ttf');
}

* {
  font-family:'Verdana';
}

ion-ripple-effect {
  --ripple-color: #ffffff1f;
}

.wrap-item{
  white-space: normal !important;
}

.content-tab-separator{
  margin-bottom: 50px;
}

.default-btn {
    padding: 10px;
    --border-radius: 20px;
}

