<ion-content [fullscreen]="true">
  <div
    style="
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-direction: column;
    "
  >
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        flex-direction: column;
      "
    >
      <!-- <img
        src="../../../assets/images/sidc-logo-1.png"
        style="margin-bottom: 20px; width: 90%"
      /> -->
      <span style="text-align: center"
        >E-Collect is a mobile application designed for the collectors of
        Sorosoro Ibaba Development Cooperative (SIDC) to efficiently process
        payments from cooperative members with outstanding loan balances.
      </span>
      <span style="text-align: center; margin-top: 10px"
        >Users of this application are required to adhere to the Data Privacy
        Act of 2012 (Republic Act No. 10173), ensuring the responsible handling
        of personal information. All data within the application will be
        safeguarded to maintain confidentiality and security.
      </span>
      <span style="text-align: center; margin-top: 10px"
        >&copy; 2025. Sorosoro Ibaba Development Cooperative. All rights
        reserved.
      </span>
    </div>
  </div>
</ion-content>
